<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Pos" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Pos" %>">
    <%= stylesheet_link_tag 'kendo.common-bootstrap.min', media: 'all' %>
    <%= stylesheet_link_tag 'kendo.bootstrap.mobile.min', media: 'all' %>
    <%= stylesheet_link_tag 'kendo.bootstrap.min.css', media: 'all' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>
    <%= javascript_include_tag 'kendo.all.min' if current_user %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header>
      <%= render 'layouts/navigation' %>
    </header>
    <div class="container" style="padding-top: 30px;margin-left: -2%;" >
      <%= render 'layouts/messages' %>

      <%= yield %>

    </div>
  </body>
</html>
